$primary-color = #409EFF;
$primary-background-color = #ecf5ff;
ul, li{
  list-style none
  padding:0;
}

.ant-row {
  overflow: hidden;
}
.action-box {
  height: 45px;
  background: #fff;
  text-align: right;
  line-height: 45px;
  padding: 0 10px;
}
.form-empty{
  position: absolute;
  text-align: center;
  width: 300px;
  font-size: 20px;
  top: 200px;
  left: 50%;
  margin-left: -150px;
  color: #ccc;
}
.component-list{
  display flex
  flex-wrap wrap
  justify-content space-between
  padding 0
  .component-list-item {
    list-style none
    font-size: 12px;
    width: 48%;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom 10px;
    &:hover{
      color: $primary-color;
      border: 1px dashed $primary-color;
    }
    .ant-btn {
      padding: 0 6px;
    }
  }
}
.ant-card-head {
  min-height 45px;
}
.ant-card-head-title {
  height: 45px;
}
.ant-card-body {
  padding: 10px;
}
.widget-form-container {
  position relative
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .widget-form-list{
    background: #fff;
    border: 1px dashed #999;
    min-height: 600px;
    margin: 10px;

    .widget-col-list{
      min-height: 50px;
      border: 1px dashed #ccc;
      background: #fff;
    }

    .widget-view{
      position: relative;
      border: 1px dashed rgba(170,170,170,0.7);
      background-color: rgba(236, 245, 255, .3);
      margin: 2px;

      .ant-form-item-control-wrapper{
        position: unset;
      }

      .widget-view-description{
        height: 15px;
        line-height: 15px;
        font-size:13px;
        margin-top: 6px;
        color:#909399;
      }

      .widget-view-action{
        position: absolute;
        right: 0;
        bottom: 0;
        height: 28px;
        line-height: 28px;
        background: $primary-color;
        z-index: 509;

        i{
          font-size: 14px;
          color: #fff;
          margin: 0 5px;
          cursor: pointer;

        }
      }
      .widget-view-model {
        position: absolute;
        top: 0;
        right: 3px;
        font-size: 12px;
        color: #67c23a;
        z-index: 9;
      }
      .widget-view-drag{
        position: absolute;
        left: -2px;
        top: -2px;
        bottom: -18px;
        height: 28px;
        line-height: 28px;
        background: $primary-color;
        z-index: 509;

        i{
          font-size: 14px;
          color: #fff;
          margin: 0 5px;
          cursor: move;
        }
      }

      .mask{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: block;
        z-index: 500;
      }
      &:hover{
        background: $primary-background-color;
        outline: 1px solid $primary-color;
        outline-offset: 0;

        &.active{
          outline: 2px solid $primary-color;
          border: 1px solid $primary-color;
          outline-offset: 0;
        }

        .widget-view-drag{
          display: block;
        }
      }

      &.active{
        outline: 2px solid $primary-color;
        border: 1px solid $primary-color;
      }
    }

    .widget-col{
      padding: 5px;
      background-color: rgba(253,246,236, .3);

      &.active{
        outline: 2px solid #e6a23c;
        border: 1px solid #e6a23c;
      }

      &:hover{
        background: #fdf6ec;
        outline: 1px solid #e6a23c;
        outline-offset: 0;

        &.active{
          outline: 2px solid #e6a23c;
          border: 1px solid #e6a23c;
          outline-offset: 0;
        }
      }

      .a-col{
        min-height: 50px;
      }

      .widget-view-action.widget-col-action{
        background: #e6a23c;
      }

      .widget-view-drag.widget-col-drag{
        background: #e6a23c;
      }

      &::after{
        display: none;
      }
    }

    .ghost{
      background: #F56C6C;
      border: 2px solid #F56C6C;
      outline-width: 0;
      height: 3px;
      box-sizing: border-box;
      font-size: 0;
      content: '';
      overflow: hidden;
      padding: 0;
    }
  }

  .ghost{
    background: #F56C6C;
    border: 2px solid #F56C6C;
    position: relative;

    &::after{
      background: #F56C6C;
    }
  }
}
